<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%for(var i = 0; i < users.length; i++){%>
      <h1><%= users[i].name %></h1>
      <p><%= users[i].password%></p>
      <p><%= users[i].create_at%></p>
    <%}%>
  </body>
</html>